@model Competencia

@{ ViewData["Title"] = "Borrar Competencia"; }

<div class="container">
    <h2>Est&aacute;s seguro de borrar esta competencia?</h2>
    <br />
    <div class="row">
        <div class="col-12">
            <form asp-action="BorrarCompetenciaConfirmado" asp-route-id="@Model.CompetenciaId">
                <input type="hidden" asp-for="CompetenciaId" />
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="TiempoParaResolver" class="control-label"></label>
                    <input asp-for="TiempoParaResolver" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="LecturaPrevia" class="control-label"></label>
                    <textarea asp-for="LecturaPrevia" class="form-control" rows="25" readonly></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sí, borrar" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-info" asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Lista Competencias</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
