
@{ ViewData["Title"] = "Grupo Inhabilitado"; }

<div class="container">
    <div class="row">
        <div class="col">
            <h3>El grupo al que perteneces, aún no se ha habilitado para contestar la Evaluación</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Evaluacion">Volver a Intentar</a>
        </div>
    </div>
</div>
